.apresentacao{
    padding: 4%;
}

.titulo{
    padding-top: 5%;
    text-align: center;
}

.desenvolvimento{
    padding: 5%;
}
.desenvolvimento h1{
    padding-left: 5%;
}
.desenvolvimento p{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.stacks{
    padding-left: 10%;
}
.btn-github {
  color: #091d05;
}